/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cardStyle {
        height: 55vh;
        width: auto;
        overflow: hidden;
        display: block;
        position: relative;
        margin-bottom: 2vh;
        left: 0;
    }

    .imgContainer {
        height: 150px;
        width: 250px;
        margin: 10px auto
    }

    .innerBody {
        text-overflow: ellipsis;
        display: flex;
        word-break: break-word;
        /* overflow: hidden;
        white-space: nowrap; */
        height: fit-content;
        width: 95%;
        margin: 10px auto;
        /* border: solid 1px; */
    }

    .topButtons {
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .topButtons:hover {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: gray;
        color: white;
    }

    .bubbleButton {
        position: fixed;
        right: 1vw;
        bottom: 15vh;
        border-radius: 100%;
        width: 3rem;
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 360px) {
    .cardStyle {
        height: 55vh;
        width: 75vw;
        overflow: hidden;
        display: block;
        position: relative;
        margin-bottom: 2vh;
        left: 10vw;
    }

    .imgContainer {
        height: 150px;
        width: 250px;
        margin: 10px auto
    }

    .innerBody {
        text-overflow: ellipsis;
        display: flex;
        word-break: break-word;
        /* overflow: hidden;
        white-space: nowrap; */
        height: fit-content;
        width: 95%;
        margin: 10px auto;
        /* border: solid 1px; */
    }

    .topButtons {
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .topButtons:hover {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: gray;
        color: white;
    }

    .bubbleButton {
        position: fixed;
        right: 1vw;
        bottom: 15vh;
        border-radius: 100%;
        width: 3rem;
        font-size: 1.5em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cardStyle {
        height: 55vh;
        width: 45vw;
        overflow: hidden;
        display: block;
        position: relative;
        margin-bottom: 2vh;
        left: 30vw;
    }

    .imgContainer {
        height: 150px;
        width: 250px;
        margin: 10px auto
    }

    .innerBody {
        text-overflow: ellipsis;
        display: flex;
        word-break: break-word;
        /* overflow: hidden;
        white-space: nowrap; */
        height: fit-content;
        width: 95%;
        margin: 10px auto;
        /* border: solid 1px; */
    }

    .topButtons {
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .topButtons:hover {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: gray;
        color: white;
    }

    .bubbleButton {
        position: fixed;
        right: 1vw;
        bottom: 15vh;
        border-radius: 100%;
        width: 3rem;
        font-size: 1.5em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cardStyle {
        height: 55vh;
        width: 35vw;
        overflow: hidden;
        display: inline-block;
        position: inherit;
        margin-bottom: 2vh;
        left: 0;
    }

    .imgContainer {
        height: 150px;
        width: 250px;
        margin: 10px auto
    }

    .innerBody {
        text-overflow: ellipsis;
        display: flex;
        word-break: break-word;
        /* overflow: hidden;
        white-space: nowrap; */
        height: fit-content;
        width: 95%;
        margin: 10px auto;
        /* border: solid 1px; */
    }

    .topButtons {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .topButtons:hover {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: gray;
        color: white;
    }

    .bubbleButton {
        position: fixed;
        right: 1vw;
        bottom: 15vh;
        border-radius: 100%;
        width: 3rem;
        font-size: 1.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cardStyle {
        height: 55vh;
        width: 35vw;
        overflow: hidden;
        display: inline-block;
        position: inherit;
        margin-bottom: 2vh;
        left: 0;
    }

    .imgContainer {
        height: 150px;
        width: 250px;
        margin: 10px auto
    }

    .innerBody {
        text-overflow: ellipsis;
        display: flex;
        word-break: break-word;
        /* overflow: hidden;
        white-space: nowrap; */
        height: fit-content;
        width: 95%;
        margin: 10px auto;
        /* border: solid 1px; */
    }

    .topButtons {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .topButtons:hover {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: gray;
        color: white;
    }

    .bubbleButton {
        position: fixed;
        right: 1vw;
        bottom: 15vh;
        border-radius: 100%;
        width: 3rem;
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1200px) {
    .cardStyle {
        height: 55vh;
        width: 30vw;
        overflow: hidden;
        display: inline-block;
        position: inherit;
        margin-bottom: 2vh;
        left: 0;
    }

    .imgContainer {
        height: 150px;
        width: 250px;
        margin: 10px auto
    }

    .innerBody {
        text-overflow: ellipsis;
        display: flex;
        word-break: break-word;
        /* overflow: hidden;
        white-space: nowrap; */
        height: fit-content;
        width: 95%;
        margin: 10px auto;
        /* border: solid 1px; */
    }

    .topButtons {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .topButtons:hover {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: gray;
        color: white;
    }

    .bubbleButton {
        position: fixed;
        right: 1vw;
        bottom: 15vh;
        border-radius: 100%;
        width: 3rem;
        font-size: 1.5em;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}