/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 360px) {
  .navbar{
    background-color: #1a2b38;
    color: #cfd1d0;
    font-size: 1em;
  }
  .navItem{
    display: block;
    padding: 10px 2px;
  }
  .navItem > a:hover{
    color: white;
  }
  .navToggle{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
    position: relative;
    left: 85%;
    padding: 15px 15px;
  }
  .navbarNav{
    display: block;
  }
  .right{
    position: absolute;
    right: 0;
  }
  .left{
    position: relative;
  }
  .collapse{
    display: none;
  }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .navbar{
      background-color: #1a2b38;
      color: #cfd1d0;
      font-size: 1.5em;
    }
    .navItem{
      display: inline-block;
      padding: 25px 15px;
    }
    .navItem > a:hover{
      color: white;
    }
    .navToggle{
      display: none;
    }
    .navbarNav{
      display: inline-block;
    }
    .right{
      position: absolute;
      right: 0;
    }
    .left{
      position: relative;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .navbar{
      background-color: #1a2b38;
      color: #cfd1d0;
      font-size: 1.5em;
    }
    .navItem{
      display: inline-block;
      padding: 25px 15px;
    }
    .navItem > a:hover{
      color: white;
    }
    .navToggle{
      display: none;
    }
    .navbarNav{
      display: inline-block;
    }
    .right{
      position: absolute;
      right: 0;
    }
    .left{
      position: relative;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .navbar{
      background-color: #1a2b38;
      color: #cfd1d0;
      font-size: 1.5em;
    }
    .navItem{
      display: inline-block;
      padding: 25px 15px;
    }
    .navItem > a:hover{
      color: white;
    }
    .navToggle{
      display: none;
    }
    .navbarNav{
      display: inline-block;
    }
    .right{
      position: absolute;
      right: 0;
    }
    .left{
      position: relative;
    }
  } 
  
  @media only screen and (min-width: 1200px) {
    .navbar{
      background-color: #1a2b38;
      color: #cfd1d0;
      font-size: 1.5em;
    }
    .navItem{
      display: inline-block;
      padding: 25px 15px;
    }
    .navItem > a:hover{
      color: white;
    }
    .navToggle{
      display: none;
    }
    .navbarNav{
      display: inline-block;
    }
    .right{
      position: absolute;
      right: 0;
    }
    .left{
      position: relative;
    }
    .collapse{
      display: block;
    }
  }