.curve {
  position: relative;
  z-index: -10;
  box-sizing: border-box;
  height: 400px;
  background-color: #34495E;
  clip-path: ellipse(300% 100% at 275% 0%);
  overflow: visible;
}

main {
  position: relative;
  top: 8vh;
  padding: 0;
  margin: 0;
}

.profile-pic {
  position: relative;
  top: 2vh;
  width: 10rem;
  height: 10rem;
  z-index: 10;
}

.skills {
  width: 45vw;
}

.grid {
  display: flex;
}

.welcome {
  color: white;
  overflow: visible;
}

.items-container {
  position: relative;
  top: -15vh;
}

.items-container2 {
  position: relative;
  padding: 5vh 0;
  margin: 5vh 0;
}

.certs {
  position: relative;
  top: 0vh;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1rem;
}

@media only screen and (min-width: 758px) {
  .curve {
    position: relative;
    z-index: -10;
    box-sizing: border-box;
    height: 400px;
    background-color: #34495E;
    clip-path: ellipse(300% 100% at 275% 0%);
    overflow: visible;
  }

  main {
    position: relative;
    top: 8vh;
    padding: 0;
    margin: 0;
  }

  .profile-pic {
    position: relative;
    top: 2vh;
    width: 10rem;
    height: 10rem;
    z-index: 10;
  }

  .skills {
    width: 45vw;
  }

  .grid {
    display: flex;
  }

  .welcome {
    color: white;
    overflow: visible;
  }

  .items-container {
    position: relative;
    top: -15vh;
  }

  .items-container2 {
    position: relative;
    padding: 5vh 0;
    margin: 5vh 0;
  }

  .certs {
    position: relative;
    top: 0vh;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1rem;
  }
}