.sidebar-wrapper {
    background-color: white;
    z-index: 1;
    border-radius: 4%;
    border: solid 1px;
    width: 15vw;
    position: fixed;
    top: 10vh;
}

.sidebar-container>div {
    display: flex;
    flex-direction: column;
}

/* .sidebar-container>div>a {
    color: red;
} */

.sidebar-button {
    color: rgb(241, 241, 243);
    border: 2px solid black;
    border-radius: 100%;
    background: none;
    font-size: 2rem;
    width: 25px;
}

.sidebar-button:hover {
    color: rgb(66, 66, 245);
    border: 2px solid black;
    border-radius: 100%;
    background: none;
    font-size: 2rem;
    width: 25px;
}

.sidebar-link {
    display: block;
    padding: 4px 8px;
    box-sizing: border-box;
    margin: auto 0;
    font-weight: normal;
    color: rgb(54, 53, 53);
    text-decoration: none;
}

.sidebar-link:hover {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.open {
    z-index: 11;
    position: fixed;
    top: 7vh;
    left: 0vw;
}

.close {
    z-index: 11;
    position: fixed;
    top: 7vh;
    left: 14vw;
}