@import "./containers.css";
@import "./button.css";
@import "./card.css";
.card-body {
  position: relative;
  width: 100%;
  padding: 0 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  /* position: relative; */
  margin-top: 2em;
  margin-bottom: 1em;
}
.card-body > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-body > progress {
  width: 100%;
}

.card-image {
  position: relative;
  top: 1em;
  border-radius: 100%;
}
